@Html.Partial("carouselPart")
<div id="mainBody">
	<div class="container">
		<div class="row">
			@Html.Partial("sideBar")
			<div class="span9">
				@Html.Partial("ProductsPanelOne")
				<h4>Latest Products </h4>
				@Html.Partial("ProductsPanelTwo")
			</div>
		</div>
	</div>
</div>

